In [1]:
# [+] SparkSession 설정
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('udf_age category').getOrCreate()

In [2]:
# 샘플 데이터: 이름과 나이
name = [
    ('염건호', 25),
    ('강동훈', 24),
    ('배진우', 21),
    ('송솔빈', 60),
    ('김수호', 35),
    ('김준서', 18),
    ('정호준', 28),
    
]

In [3]:
# [+] 스키마 정의
schema = ['name', 'age']

In [4]:
# [+] 데이터프레임 생성
df = spark.createDataFrame(data = name, schema=schema)

In [5]:
# [+] 데이터프레임 출력
df.show()

+------+---+
|  name|age|
+------+---+
|염건호| 25|
|강동훈| 24|
|배진우| 21|
|송솔빈| 60|
|김수호| 35|
|김준서| 18|
|정호준| 28|
+------+---+

In [6]:
# [+] 데이터프레임 스키마 출력
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [7]:
# [+] Temporary View 생성
df.createOrReplaceTempView('age')

In [8]:
# udf

def age_category(age):
    if (age < 35):
        return 'young'
    elif (age >= 35 and age < 59):
        return 'adult'
    else:
        return 'senior'

In [9]:
spark.udf.register('age_category',age_category)

In [11]:
#SQL문처리
spark.sql("SELECT name,age, age_category(age) \
    From age").show()

+------+---+-----------------+
|  name|age|age_category(age)|
+------+---+-----------------+
|염건호| 25|            young|
|강동훈| 24|            young|
|배진우| 21|            young|
|송솔빈| 60|           senior|
|김수호| 35|            adult|
|김준서| 18|            young|
|정호준| 28|            young|
+------+---+-----------------+